@import "../../../styles/config.css";

.auth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 3rem;
}

.login_link {
  color: var(--theme_color_fg);
  font-size: 1.2rem;
}

.signup_button {
  font: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: var(--theme_color_fg);
  
  background-color: white;
  border: 2px solid var(--theme_color_fg);
  border-radius: 25px;
  
  width: 9rem;
  height: 60%;
  
  transition: 0.2s;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  padding: 0 5rem;
}

.signup_button:hover {
  background-color: var(--theme_color_fg);
  color: white;
  cursor: pointer;
}
