@import "../../styles/config.css";
@import "styles/AuthenticationContainer.css";

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  grid-area: header;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.misc_container {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: var(--theme_color_bg);
  gap: 1rem;
}
