.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  grid-area: header;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.misc_container {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: rgb(88, 146, 228);
  gap: 1rem;
  padding: 0 1rem;
}

.auth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 3rem;
}

.login_link {
  color: rgb(28, 123, 255);
  font-size: 1.2rem;
}

.signup_button {
  font: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(28, 123, 255);
  
  background-color: white;
  border: 2px solid rgb(28, 123, 255);
  border-radius: 25px;
  
  width: 9rem;
  height: 60%;
  
  transition: 0.2s;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  padding: 0 5rem;
}

.signup_button:hover {
  background-color: rgb(28, 123, 255);
  color: white;
  cursor: pointer;
}
