.container {
  background-color: rgb(88, 146, 228);
  grid-area: footer;
  width: 100%;
}

.inner_container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  justify-self: center;
  /* background-color: green; */
}

.column {
  /* background-color: rgb(199, 199, 199); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 3rem 0;
}

.column .title{
  font-size: 1.5rem;
  font-weight: bold;
}

.column ul {
  list-style: none;
  margin-top: 0.8rem;
  font-size: 1rem;
}

.column ul li {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.column ul li a {
  color: white;
}

.socials_column ul {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.socials_column ul li a {
  color: rgb(255, 255, 255);
}