.navigation_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.navigation_list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(40, 126, 246);
  width: 180px;
  height: 100%;
  cursor: default;
  display: inline-block;
  position: relative;
  flex-direction: column;
  /* transition: 0.3s; */
}

.not_dropdown_tab:hover {
  cursor: pointer;
}

.navigation_list li .tab_title {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem 0rem;
}

.navigation_list li p {
  height: 100%;
}

.navigation_list li .tab {
  display: block;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  height: 100%;
}

.navigation_list li:hover {
  background-color: rgb(239, 239, 239);
}

.dropdown {
  width: 100%;
  position: absolute;
  display: none;
  background-color: rgb(239, 239, 239);
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.dropdown li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.3rem;
  text-align: center;
}

.dropdown li::after {
  content: "";
  background-color: rgb(214, 214, 214);
  width: 90%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown li:hover {
  background-color: rgb(70, 141, 242);
  color: white;
  cursor: pointer;
}

.navigation_list li:hover .dropdown {
  display: block;
}
