@import "../../../styles/config.css";

.parent_container {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 30% 50 20%;
  grid-template-areas: 
  "nanny_image title"
  "nanny_image description"
  "nanny_image button";
}

.parent_container .parent_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  grid-area: nanny_image;
}

.parent_container .title {
  width: 100%;
  margin: 0;
  text-align: left;
  color: var(--text_color_black);
  font-size: 2.5rem;
  font-weight: bold;
  grid-area: title;
  align-self: center;
  width: 700px;
}

.parent_container .description {
  width: 80%;
  margin: 0;
  margin-left: 20px;
  justify-self: left;
  text-align: left;
  color: var(--text_color_black);
  grid-area: description;
  font-size: 1.2rem;
  margin-top: 0;
}

.parent_container button {
  width: 25%;
  height: 70%;
  justify-self: left;
  align-items: center;
  border: 2px solid var(--theme_color_fg);
  border-radius: 30px;
  color: var(--theme_color_fg);
  background-color: white;
  transition: 0.2s;
}

.parent_container button:hover {
  background-color: var(--theme_color_fg_lighter);
  cursor: pointer;
}

.parent_container button .button_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.parent_container button .button_content p  {
  font-size: 1.2rem;
}
