@import "../../styles/config.css";
@import "styles/ParentIntroductionContainer.css";
@import "styles/NannyIntroductionContainer.css";

.outer_container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.main_section {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
  background-color: var(--theme_color_fg_lighter);
  height: auto;
  justify-self: center;
}

.options_container {
  width: 1100px;
  z-index: 999;
}

.search_container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 900px; /*temp*/
  background-color: var(--theme_color_bg);
  display: flex;
  justify-content: center;
  padding: 100px;
  margin-top: 12rem;
  margin-bottom: 20rem;
}

.search_container h1 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

.bg_circle {
  position: absolute;
  width: 2300px;
  height: 2000px;
  border-radius: 50%;
  top: -1050px;
  justify-self: center;
  background-color: rgb(255, 255, 255);
  z-index: 998;
}